.baru{
		color: #fff;
background: #4D4D4D;
width: 60px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700px;
padding-left: 40px;
padding-top: 10px;
line-height: 40px;
}

